// breakpoints
$breakpoint-small: 640px;
$breakpoint-medium: 768px;
$breakpoint-large: 1400px;
$breakpoint-iphone5: 320px;
$breakpoint-small-desktop: 1024px;
$breakpoint-middle-desktop: 1180px;
$breakpoint-phone: 480px;

// Inner container
$content-container-width: 1180px;

$primary-color:  #3D80CC;
$secondary-color: #E91D63;
$text-color: #2E4440;
$bg-color: white;
$footer-bg-color: #222222;
$white: white;
$red: $secondary-color;
$green-color: #6AA84F;
